form {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 8px;
    }
  }

  .bottomSeparation {
    margin-bottom: 0.5em;
  }
}

.spinner {
  display: flex;
  justify-content: center;
}
